<template>
  <div class="flex w-full h-full">
    <div class="w-2/3">
      <sell-item-component name="Tiket Agak Mahal" price="IDR 200.000" :count="count1" @increment="increment1"
        @decrement="decrement1" />

      <sell-item-component name="Tiket Mahal" price="IDR 300.000" :count="count2" @increment="increment2"
        @decrement="decrement2" />

      <sell-item-component name="Tiket Murah" price="IDR 100.000" :count="count3" @increment="increment3"
        @decrement="decrement3" />
    </div>
    <div class="flex content-between w-1/3 bg-white">
      <div class="w-full">
        <div class="q-pa-md w-full border-2 border-b-4">
          <div class="text-body1">Total Pembayaran</div>
          <div class="text-h4">IDR {{ total }}</div>
        </div>
        <div>
          <div class="q-pa-md border-2 row items-center flex justify-between">
            <div class="text-body1 q-mr-md">Item dipilih ({{ numberItem }} item)</div>
            <q-btn color="red" @click="deleteAll()">Hapus Semua</q-btn>
          </div>
          <div class="q-px-md">
            <bill-item-component name="Tiket Agak Mahal" :price="200000" :count="count1" @delete="delete1" />
            <bill-item-component name="Tiket Mahal" :price="300000" :count="count2" @delete="delete2" />
            <bill-item-component name="Tiket Murah" :price="100000" :count="count3" @delete="delete3" />
          </div>
        </div>
      </div>
      <div class="w-full">
        <q-btn class="w-full" color="blue">Pesan</q-btn>
      </div>
    </div>
  </div>
</template>
  
<script lang="ts">
import { defineComponent } from 'vue';
import SellItemComponent from 'src/components/SellItemComponent.vue';
import BillItemComponent from 'src/components/BillItemComponent.vue';

export default defineComponent({
  components: {
    SellItemComponent,
    BillItemComponent
  },
  // state
  data() {
    return {
      count1: 0,
      count2: 0,
      count3: 0,
    }
  },
  computed: {
    total(): number {
      return this.count1 * 200000 + this.count2 * 300000 + this.count3 * 100000
    },
    numberItem(): number {

      return this.count1 + this.count2 + this.count3
    }
  },
  // actions
  methods: {
    increment1() {
      this.count1++
    },
    decrement1() {
      if (this.count1 > 0) {
        this.count1--
      }
    },
    increment2() {
      this.count2++
    },
    decrement2() {
      if (this.count2 > 0) {
        this.count2--
      }
    },
    increment3() {
      this.count3++
    },
    decrement3() {
      if (this.count3 > 0) {
        this.count3--
      }
    },
    deleteAll() {
      this.count1 = 0;
      this.count2 = 0;
      this.count3 = 0;
    },
    delete1() {
      this.count1 = 0;
    },
    delete2() {
      this.count2 = 0;
    },
    delete3() {
      this.count3 = 0;
    },
  }
})
</script>