<template>
    <div v-if="count > 0" class="row items-center q-my-md q-pb-sm flex justify-between border-b-2">
        <div class="w-1/3">{{ name }}</div>
        <div class="w-1/3">IDR {{ count * price }}</div>
        <q-btn color="red" size="xs" label="x" @click="$emit('delete')" />
    </div>
</template>

<script lang="ts">

import { defineComponent } from 'vue';

export default defineComponent({
    name: 'BillItemComponent',
    props: {
        name: {
            type: String,
            required: true
        },
        price: {
            type: Number,
            required: true
        },
        count: {
            type: Number,
            required: true
        },
    },

});

</script>
