<template>
  <div class="row items-center bg-white border-2 q-mx-md q-my-sm">
    <div class="text-body1 w-1/3 pl-4">
      {{ name }}
    </div>
    <div class="text-body1 w-1/3">
      {{ price }}
    </div>
    <div class="q-pa-md row items-center w-1/3">
      <q-btn color="grey" label="-" size="" @click="$emit('decrement')" />
      <div class="bg-grey-4 q-px-lg q-py-sm q-mx-md"> {{ count }}</div>
      <q-btn color="green" label="+" size="" @click="$emit('increment')" />
    </div>
  </div>
</template>

<script lang="ts">

import { defineComponent } from 'vue';

export default defineComponent({
  name: 'SellItemComponent',
  props: {
    name: {
      type: String,
      required: true
    },
    price: {
      type: String,
      required: true
    },
    count: {
      type: Number,
      required: true
    },
  },

});

</script>
